.DS_Store
test_input.txt
two_oclc.xml
viaf_index*
*.json
*.pyc
*.zip
*.ttl
*.nt
*.rdf
*.csv
/Database Setup/*.xml
/segments_*
/all_bibf*
/meta_ic*
/test_segment*
/remove_redundant*
/trimmed_all*
/sample*
/new_test_segment*
/marcXml*
/test_xml*
/notEmblematicaOnline*
/workset_volumes*
/old_trimmed_all_volumes_json*
/to_be_redone*
/test_diacritics*