.DS_Store
test_input.txt
viaf_index*
*.json
*.pyc
*.zip
*.ttl
*.nt
*.rdf
/segments_*
/all_bibf*
/meta_ic*
/test_segment*
/remove_redundant*
/trimmed_all*
/sample*
/new_test_segment*
/marcXml*
/test_xml*
/notEmblematicaOnline*
/workset_volumes*