.DS_Store
test_input.txt
two_oclc.xml
viaf_index*
*.pyc
*.zip
*.ttl
*.nt
*.rdf
*.csv
/Database Setup/*.xml
/segments_*
/all_bibf*
/meta_ic*
/test_segment*
/remove_redundant*
/trimmed_all*
/sample*
/new_test_segment*
/marcXml*
/test_xml*
/notEmblematicaOnline*
/workset_volumes*
/old_trimmed_all_volumes_json*
/to_be_redone*
/test_diacritics*
/bibframe2ef/bibframe2ef-V4.rq
/bibframe2ef/ef_context_2.jsonld
/bibframe2ef/ef_context_3.jsonld
/bibframe2ef/ef_context_4.jsonld
/bibframe2ef/fixDates.py
/bibframe2ef/fixSolr.js
/bibframe2ef/fixSolr.py
/bibframe2ef/checkIngested.py
/bibframe2ef/node_modules*
/bibframe2ef/framing-compacting-example*
/ic_az*